<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682289345707-688d59qtrljojc7bkpo12pc2ii74ielp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682289345707-688d59qtrljojc7bkpo12pc2ii74ielp</string>
	<key>API_KEY</key>
	<string>AIzaSyDyZyBxv5wqj8t0U3oLfRBNgm4Ow9ED_VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>682289345707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.faceShield</string>
	<key>PROJECT_ID</key>
	<string>laboratorio-de-projeto-4e26d</string>
	<key>STORAGE_BUCKET</key>
	<string>laboratorio-de-projeto-4e26d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682289345707:ios:903594e7a5f036b88773ee</string>
</dict>
</plist>